*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container{
    height: 785px;
    width: 100%;
    padding-top: 200px;
    background-color: rgb(237,242,244);
    z-index: -2;
}

.searchBarContainer{
    height: 50px;
    display: flex;
    justify-content: center;
}

.searchBar{
    width: 500px;
    margin-left: -10px;
}

.searchInput{
    width: 100%;
    height: 35px;
    border-radius: 50px;
    border: solid 1px rgb(131, 131, 131);
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    z-index: 0;
}

.subSearchBarContainer{
    height: 100%;
    width: 600px;
    outline:red dashed 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchIcon{
    position: absolute;
    margin-left: 460px;
    margin-top: -33px;
}

.filterBtnContainer{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subFilterBtnContainer{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterBtn{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 40px;
    height: 50px;
    width: 50px;
    background-color: rgb(141,153,174);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.itemContainer{
    margin-top: 20px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    justify-content: center;
}

.subItemContainer{
    height: 270px;
    width: 200px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(170, 170, 170);
    border: solid 1px rgb(131, 131, 131);
    cursor: pointer;
}

.imageContainer{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgba(131, 131, 131, 0.479);
}

.itemNameContainer{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.itemName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.ratingContainer1{
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
}

.rating{
    height: 18px;
    margin-right: 5px;
}

.rateCount{
    font-size: 15px;
}

.image{
    height: 11rem;
}

.productContainer {
    position: fixed;
    top: 0px; 
    left: 0px; 
    height: 100%;
    width: 100%;
    background-color: rgb(237,242,244);
    z-index: 999;
    display: none;
}


.backBtnContainer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin-right: 55px;
    background-color: rgb(217,4,41);
}

.subProductContainer{
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.backBtn{
    display: inline-block;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer1{
    height: 100%;
    width: 500px;
    margin-left: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(131, 131, 131, 0.5);
    border-radius: 10px;
    background-color: white;
}

.rightsideContainer{
    height: 100%;
    width: 870px;
    margin-left: 50px;
    border: solid 1px rgb(131, 131, 131, 0.5);
    border-radius: 10px;
    background-color: white;
}

.nameOfItemContainer{
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: solid 1px rgb(131, 131, 131);
}

.ratingContainer1{
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.image1{
    height: 25px;
    margin-right: 5px;
}

.buttonContainer2, .buttonContainer3{
    height: 40px;
    width: 550px;
    outline: red dashed 1px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.buttonContainer3{
    width: 400px;
}

.subButtonContainer2, .subButtonContainer3{
    outline: red dashed 1px;
    height: 100%;
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button, .button1, .button2{
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
}

.button{
    height: 40px;
    width: 50px;
}

.button1{
    height: 40px;
    width: 60px;
}

.button2{
    height: 40px;
    width: 130px;
}
.subProductContainer1{
    height: 100%;
}

.button, .button1, .button2{
    background-color: red;
    color: white;
    font-weight: bold;
    transition: background-color 0.15s, color 0.15s, transform 0.15s;
}

.button2:hover{
    transform: scale(1.1);
    background-color: transparent;
    color: red;
}

.button2:active{
    transform: scale(1);
    background-color: red;
    color: white;
}

.count8{
    background-color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 62px;
    width: 15px;
    height: 15px;
    text-align: center;
    padding-bottom: 2px;
    color: red;
}

.itemImage{
    height: 100%;
}

.addToCartContainer1{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
    transition: background-color 0.15s, opacity 0.15s, border-radius 0.15s;
}

.descriptionContainer{
    height: 345px;
    width: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
}

.description{
    height: 300px;
    width: 480px;
    border-radius: 10px;
    border: solid 1px rgb(131, 131, 131, 0.5);
    padding: 10px;
    background-color: white;
}

.itemPriceContainer{
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.desc{
    margin-bottom: 10px;
}

.sideNavBarContainer{
    outline: red dashed 1px;
    height: 100%;
    width:  200px;
    position: absolute;
    right: -200px;
    top: 50px;
    background-color: rgb(217,4,41);
}

.fadeIn{
    animation: sideIn 0.6s ease forwards
}

.sideNavBar{
    outline: rgb(10, 10, 10) dashed 1px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: solid 1px white;
}

.profile, .status, .myOrder, .studentShop, .logOut{
    color: white;
    text-decoration: none;
}

.nameOfShop{
    height: 40px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.shop{
    font-size: 30px;
    font-weight: bold;
    color: red;
}

@keyframes sideIn {
    from{

    } to{
        position: absolute;
        right: 0px;
    }
}